<div class="card">
  <div class="info-card">
    <p class="titulo">{{ ativo.ticket }}</p>
    <p class="informacoes">Data:</p>
    <p class="resultado">{{ ativo.dataEvento }}</p>
    <p class="informacoes">Corretora:</p>
    <p class="resultado">{{ ativo.corretora }}</p>
    <p class="informacoes">Valor unitário:</p>
    <p class="resultado">{{ ativo.valorUnitario }}</p>
    <p class="informacoes">Valor total:</p>
    <p class="resultado">{{ ativo.valorTotal }}</p>
    <button class="botao-editar" aria-label="Editar" [routerLink]="['/editar-transacao', ativo.id]">
       Editar
    </button>
        <button class="botao-excluir" aria-label="Excluir" [routerLink]="['/excluir-transacao', ativo.id]">
        Excluir
    </button>
  </div>  
</div>
<div *ngIf="modalAberto">  
</div>