<div class="card">
  <div class="info-card">
    <p class="titulo">{{ ativo.ticket }}</p>
    <p class="informacoes">Corretora:</p>
    <p class="resultado">{{ ativo.corretora }}</p>
    <p class="informacoes">Preço Médio:</p>
    <p class="resultado">{{ ativo.valorMedio }}</p>
    <p class="resultado">Quantidade:</p>
    <p class="informacoes">{{ ativo.quantidadeTotal }}</p>
    <p class="resultado">Valor Total Compras:</p>
    <p class="informacoes">{{ ativo.valorTotalCompras }}</p>
  </div>
</div>
<div *ngIf="modalAberto">
</div>