<form [formGroup]="form">
  <h1>Nova transacao</h1>

  <mat-form-field appearance="outline">
    <mat-label>Data do evento</mat-label>
    <input
      matInput
      formControlName="dataEvento"
      placeholder="dd/mm/yyyy"
      mask="00/00/0000"
      [dropSpecialCharacters]="false"
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Corretora</mat-label>
    <mat-select formControlName="corretora">
      <mat-option value="BB Banco de Investimento S.A">BB Banco de Investimento S.A</mat-option>
      <mat-option value="XP Investimentos">XP Investimentos</mat-option>
      <mat-option value="Clear Corretora">Clear Corretora</mat-option>
      <mat-option value="NuBank">NuBank</mat-option>
      <mat-option value="Banco Inter">Banco Inter</mat-option>
      <mat-option value="MercadoBitcoin">MercadoBitcoin</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Tipo de ativo</mat-label>
    <mat-select formControlName="classificacaoAtivo">
      <mat-option value="ACOES">Ações</mat-option>
      <mat-option value="FIIS">Fundos Imobiliários</mat-option>
      <mat-option value="ETFS">ETFs</mat-option>
      <mat-option value="ETFS_INTERNACIONAIS">ETFs Internacionais</mat-option>
      <mat-option value="STOCKS">Stocks</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ticket</mat-label>
    <input
      matInput
      formControlName="ticket"
      placeholder="PETR4"
      style="text-transform: uppercase"
      (input)="transformarTicketParaCaixaAlta($event)"
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Operacao</mat-label>
    <mat-select formControlName="compraOUVenda">
      <mat-option value="COMPRA">Compra</mat-option>
      <mat-option value="VENDA">Venda</mat-option>
      <mat-option value="BONIFICACAO">Bonificação</mat-option>
      <mat-option value="DESDOBRAMENTO">Desdobramento</mat-option>
      <mat-option value="CONVERSAO">Conversão</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Quantidade</mat-label>
    <input matInput type="number" formControlName="quantidade" min="0">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Valor unitario</mat-label>
    <input
      matInput
      formControlName="valorUnitario"
      placeholder="0,00"
      mask="separator.2"
      thousandSeparator="."
      decimalMarker="," 
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Valor total</mat-label>
    <input matInput formControlName="valorTotal" readonly>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Corretagem</mat-label>
    <input
      matInput
      formControlName="valorCorretagem"
      placeholder="0,00"
      mask="separator.2"
      thousandSeparator="."
      decimalMarker="," 
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Taxas e emolumentos</mat-label>
    <input
      matInput
      formControlName="valorTaxasEmolumentos"
      placeholder="0,00"
      mask="separator.2"
      thousandSeparator="."
      decimalMarker="," 
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Taxa de liquidacao</mat-label>
    <input
      matInput
      formControlName="valorTaxaLiquidacao"
      placeholder="0,00"
      mask="separator.2"
      thousandSeparator="."
      decimalMarker="," 
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Impostos</mat-label>
    <input
      matInput
      formControlName="valorImpostos"
      placeholder="0,00"
      mask="separator.2"
      thousandSeparator="."
      decimalMarker="," 
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Outros valores</mat-label>
    <input
      matInput
      formControlName="outrosValoresCobrados"
      placeholder="0,00"
      mask="separator.2"
      thousandSeparator="."
      decimalMarker="," 
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Valor final</mat-label>
    <input matInput formControlName="valorTotalComCustosEDespesas" readonly>
  </mat-form-field>

  <div>
    <button type="button" mat-button routerLink="/home">Cancelar</button>
    <button type="submit" mat-flat-button (click)="onClick()">Salvar</button>
  </div>
</form>