div {    
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: 15px;
    padding: 16px;
    box-shadow: var(--mat-sys-elevation-1);
}

a {
  display: inline-block;
  padding: 8px 16px;
  background: #1976d2;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  margin: 10px 0;
  position: relative;

}